<<<<<<< HEAD

=======
>>>>>>> ae55eabf7373d5ebda76e6e836bc54dae3446e3f
// Body
$body-bg: #f8fafc;

// Typography
<<<<<<< HEAD
$font-family-sans-serif: "Nunito", sans-serif;
=======
$font-family-sans-serif: 'Nunito', sans-serif;
>>>>>>> ae55eabf7373d5ebda76e6e836bc54dae3446e3f
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
<<<<<<< HEAD
$pink: #f66D9b;
=======
$pink: #f66d9b;
>>>>>>> ae55eabf7373d5ebda76e6e836bc54dae3446e3f
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
